<section id="giscus_thread" class="giscus mx-auto mt-10 w-full"></section>

<script
	src="https://giscus.app/client.js"
	data-repo="vnw1/my-blog"
	data-repo-id="R_kgDOMEoBRA"
	data-category="Blog Posts Comments"
	data-category-id="DIC_kwDOMEoBRM4Cgksw"
	data-mapping="url"
	data-strict="0"
	data-reactions-enabled="1"
	data-emit-metadata="0"
	data-input-position="bottom"
	data-theme="light"
	data-lang="en"
	async></script>

<script>
	let giscusReady = false; // Flag to track giscus iframe readiness

	// Function to update the giscus theme
	function updateGiscusTheme() {
		if (giscusReady) {
			const iframe = document.querySelector("iframe.giscus-frame");
			if (iframe instanceof HTMLIFrameElement && iframe.contentWindow) {
				const theme =
					document.documentElement.getAttribute("data-theme") === "dark" ? "dark" : "light";
				iframe.contentWindow.postMessage(
					{ giscus: { setConfig: { theme: theme } } },
					"https://giscus.app",
				);
			}
		}
	}

	// Listen for the giscus "ready" message
	window.addEventListener("message", (event) => {
		console.log("Message received:", event); // Log all messages
		console.log("Message origin:", event.origin);
		if (event.origin === "https://giscus.app" && event.data.giscus && event.data.giscus.ready) {
			console.log("giscus iframe is ready!");
			giscusReady = true; // Set the flag to true when ready
			updateGiscusTheme();
		}
	});

	// Theme change listener
	document.addEventListener("theme-change", () => {
		updateGiscusTheme();
	});
</script>
